
# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
.env.*
.env*.local
*.env
!.env.example
.ipynb_checkpoints/

# Data & Artifacts
artifacts/*
!artifacts/.gitkeep
data/*

# OS
.DS_Store

# Streamlit
.streamlit/
